.btn {
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 16px;
  border: none;
  font-weight: 500;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  background: linear-gradient(#FF79DA, #9356DC, 15%);
  transition-duration: 300ms;
  opacity: 0.8;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  width: 100%;
  height: 63px;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0225);
  z-index: 2;
}
.logo-container .logo-container__logo {
  margin-left: auto;
  margin-right: auto;
  width: 162px;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  background-color: rgb(234, 234, 234);
  z-index: 1;
}
.searchbar .searchbar__input {
  border: none;
  text-align: center;
  background-color: rgb(234, 234, 234);
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  color: #353535;
}
.searchbar .searchbar__input:focus {
  outline: none;
}

* {
  font-family: "Roboto", sans-serif;
}

footer h2 {
  font-family: "Shrikhand", sans-serif;
}

body {
  margin: 0px;
  background-color: #F6F6F6;
}
@media (min-width: 1024px) {
  body {
    max-width: 1480px;
    margin-right: auto;
    margin-left: auto;
  }
}

::placeholder {
  color: #353535;
}

.main-container {
  position: relative;
  z-index: 1;
}

.title {
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 40px;
  margin-bottom: 100px;
}
@media (min-width: 1024px) {
  .title {
    margin-bottom: 30px;
  }
}
.title h1 {
  font-size: 24px;
  font-weight: 700;
}
.title h2 {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  margin-bottom: 30px;
}

.fonctionnement {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FFFFFF;
  margin-bottom: 100px;
}
@media (min-width: 1024px) {
  .fonctionnement {
    padding: 50px 180px 50px 180px;
    margin-bottom: 30px;
  }
}

.list-steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
@media (min-width: 1024px) {
  .list-steps {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
}

.steps {
  align-items: center;
  padding-left: 40px;
  gap: 30px;
  border-radius: 20px;
  background-color: rgb(246, 246, 246);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.16);
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 30px 2fr;
  grid-gap: 10px;
  grid-auto-rows: 72px;
}
@media (min-width: 1024px) {
  .steps {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
  }
}
.steps .steps__number {
  position: absolute;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .steps .steps__number {
    position: relative;
    left: -50px;
  }
}
.steps .two {
  grid-column: 1/3;
  grid-row: 1;
}
.steps .three {
  grid-column: 2/4;
  grid-row: 1;
}

.restaurants {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}
@media (min-width: 1024px) {
  .restaurants {
    padding: 50px 180px 50px 180px;
  }
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .restaurants-cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: space-between;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.01);
}
@media (min-width: 1024px) {
  .card {
    width: 45%;
  }
}
.card .card__nouveau {
  position: absolute;
  right: 40px;
  padding: 7px 9px 7px 9px;
  background-color: rgb(153, 226, 208);
  color: rgb(0, 135, 102);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .card .card__nouveau {
    right: 30px;
  }
}
.card img {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 170px;
}

.card-description {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-description .card-description__icon {
  display: flex;
  margin-left: auto;
  padding-right: 20px;
  color: #000000;
}
.card-description .card-description__icon--colored {
  display: flex;
  margin-left: auto;
  padding-right: 20px;
}
.card-description .card-description__icon--colored:hover {
  color: red;
  transition: all 400ms;
}
.card-description .card-description__titles {
  padding-left: 13px;
}
.card-description .card-description__titles h3 {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 700;
}
.card-description .card-description__titles h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 17px;
  font-weight: 300;
}

footer {
  background-color: #353535;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  padding-bottom: 20px;
}
@media (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    gap: 30px;
    height: 114px;
    padding-right: 30px;
  }
}
footer h2 {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26.24px;
}
@media (min-width: 1024px) {
  footer h2 {
    align-self: end;
    margin: 0;
  }
}
footer a {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 5px;
  text-decoration: none;
  color: white;
}
@media (min-width: 1024px) {
  footer a {
    align-self: end;
  }
}
footer .footer__links {
  display: flex;
  flex-direction: row;
}
@media (min-width: 1024px) {
  footer .footer__links {
    align-self: end;
  }
}

.heart__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.heart__icon--empty {
  position: absolute;
  color: black;
  right: 30px;
}
.heart__icon--full {
  position: absolute;
  right: 30px;
  opacity: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition-duration: 800ms;
}
.heart__icon:hover .heart__icon--full {
  opacity: 1;
}
.heart__icon:hover .heart__icon--empty {
  opacity: 0;
}
.heart__icon--empty {
  position: absolute;
  color: black;
  right: 30px;
}

.blur {
  display: block;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  animation: blur 4s;
  animation-iteration-count: 1;
}
@keyframes blur {
  0% {
    background-color: black;
    opacity: 0.2;
    z-index: 4;
  }
  100% {
    background-color: black;
    opacity: 0.2;
    z-index: 4;
  }
}

.lds-facebook {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 400;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #000000;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-iteration-count: 3;
}

.lds-facebook div:nth-child(1) {
  left: -24px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 0px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 24px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

/*# sourceMappingURL=style.css.map */
