.btn {
  height: 50px;
  border-radius: 25px;
  border: solid 1px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.0625);
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  width: 100%;
  height: 63px;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0225);
}
.logo-container .logo-container__logo {
  margin-left: auto;
  margin-right: auto;
  width: 162px;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  background-color: rgb(234, 234, 234);
  z-index: -1;
}
.searchbar .searchbar__input {
  border: none;
  text-align: center;
  background-color: rgb(234, 234, 234);
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  color: #353535;
}
.searchbar .searchbar__input:focus {
  outline: none;
}

* {
  font-family: "Roboto", sans-serif;
}

footer h2 {
  font-family: "Shrikhand", sans-serif;
}

body {
  margin: 0px;
}

::placeholder {
  color: #353535;
}

.title {
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}
.title h1 {
  font-size: 24px;
  font-weight: 700;
}
.title h2 {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}

.fonctionnement {
  padding-left: 20px;
  padding-right: 20px;
}

.list-steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.steps {
  align-items: center;
  padding-left: 40px;
  gap: 30px;
  border-radius: 20px;
  background-color: rgb(246, 246, 246);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 30px 2fr;
  grid-gap: 10px;
  grid-auto-rows: 72px;
}
.steps .steps__number {
  position: absolute;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.steps .two {
  grid-column: 1/3;
  grid-row: 1;
}
.steps .three {
  grid-column: 2/4;
  grid-row: 1;
}

.restaurants {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.01);
}
.card .card__nouveau {
  position: absolute;
  right: 40px;
  padding: 7px 9px 7px 9px;
  background-color: rgb(153, 226, 208);
  color: rgb(0, 135, 102);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  font-weight: 500;
}
.card img {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 170px;
}

.card-description {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-description .card-description__icon {
  display: flex;
  margin-left: auto;
  padding-right: 20px;
}
.card-description .card-description__icon--colored {
  background: linear-gradient(#9356DC, #FF79DA);
}
.card-description .card-description__titles {
  padding-left: 13px;
}
.card-description .card-description__titles h3 {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 700;
}
.card-description .card-description__titles h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 17px;
  font-weight: 300;
}

footer {
  background-color: #353535;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  padding-bottom: 20px;
}
footer h2 {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 26.24px;
}
footer a {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 5px;
}
footer .footer__links {
  display: flex;
  flex-direction: row;
}

/*# sourceMappingURL=style.css.map */
