.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.01);
    @include tab {
        width: 42%;
    }
    @include lg {
        width: 45%;
    }

    .card__nouveau {
        position: absolute;
        right: 40px;
        padding: 7px 9px 7px 9px;
        background-color: rgba(153, 226, 208, 1);
        color: rgba(0, 135, 102, 1);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        font-size: 14px;
        font-weight: 500;
        @include lg {
            right: 30px;
        }
    }
    .card_links {
        img {
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 170px;    
        width: 100%;
        }
    }
}



.card-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    padding-bottom: 15px;
    
    .card-description__icon {
        display: flex;
        margin-left: auto;
        padding-right: 20px;
        color: #000000;

        &--colored {
            display: flex;
            margin-left: auto;
            padding-right: 20px;
        }
        &--colored:hover {
            color: red;
            transition: all 400ms;
        }
    }

    .card-description__titles {
        padding-left: 13px;

        h3 {
            margin-bottom: 0px;
            font-size: 18px;
            font-weight: 700;
        }
        h4 {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 17px;
            font-weight: 300;
        }
    }
}
