// Animation for the hearts icon that can be found in both index.html and the restaurant pages.
// An empty heart and a full heart are placed on the same absolute position. 
// The empty heart is shown by default, while the full one has an opacity of 0.
// When the user hovers them, the empty one disappears (opacity: 0) and the empty one appears.
// There are two versions of the heart icons: "empty" and "full" for the front page, and "restoempty", "restofull" for the restaurant pages. 


.heart__icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  cursor: pointer;

  &--empty{
      position: absolute;
      color: black;
      right: 30px;
  }

  &--restoempty {
    position: absolute;
    color: black;
  }

  &--full{
      position: absolute;
      right: 30px;
      opacity: 0;
      background: linear-gradient(#FF79DA, #9356DC);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      transition-duration: 800ms;
  }

  &--restofull {
    position: absolute;
    opacity: 0;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition-duration: 800ms;
}

  &:hover &--full{
      opacity: 1;
  }
  &:hover &--empty{
      opacity: 0;
  }

  &:hover &--restofull{
    opacity: 1;
  }
  &:hover &--restoempty{
    opacity: 0;
  }

}